form(method="POST")
	p Title:
		input(type="text", name="title")
	p: button Add

if codoList.length > 0
	ul
		each list in codoList
			li
				h2= list.title
			p
				a(href="/update/#{list._id"}) Update
				a(hred="/delete/#{list._id"}) Delete
else
	p No lists