
#login-container
	form( method="post")#login-form.well.span4
		label Username 
		input(type="text", name="user", id='user-tf').span4.required
		label Password
		input(type="password", name="password", id='pass-tf').span4.required
		button(type="submit")#btn-login.btn.btn-primary
			i.icon-lock.icon-white
			| Sign in
		


		

	